<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
<!-- 在控制台输出sql语句及执行结果 -->
<setting name="logImpl" value="STDOUT_LOGGING"/>
 </settings>

 <plugins>
 <!-- 分页插件拦截器 -->
 <plugin interceptor="com.github.pagehelper.PageInterceptor">
 <!-- 指定分页插件使用哪种方言，如oracle,mysql,sqlite,sqlserver等-->
 <property name="helperDialect" value="mysql"/>
 <!-- 默认值为false，当该参数设置为true时，使用 RowBounds 分页会进行 count 查询。-->
 <property name="rowBoundsWithCount" value="true"/>
 <!-- 分页合理化参数，设置为 true 时，pageNum<=0 时会查询第一页, pageNum>pages（超过总数时），会查询最后一页。-->
 <property name="reasonable" value="true"/>
 </plugin>
 </plugins>

 </configuration>